{% extends "core/base.html" %}

{% load static %}

{% block content %}
<div class="galeria">
    <a data-fancybox="gallery" href="{% static 'core/img/descarga.jpg' %}">
        <img src="{% static 'core/img/descarga.jpg' %}">
    </a>
    <a data-fancybox="gallery" href="{% static 'core/img/apple.jpg' %}">
        <img src="{% static 'core/img/apple.jpg' %}">
    </a>
    <a data-fancybox="gallery" href="{% static 'core/img/lenovo.jpg' %}">
        <img src="{% static 'core/img/lenovo.jpg' %}">
    </a>
    <a data-fancybox="gallery" href="{% static 'core/img/dell.jpg' %}">
        <img src="{% static 'core/img/dell.jpg' %}">
    </a>
</div>
{% endblock content %}