{% extends "core/base.html" %}

{% load static %}

{% block content %}

<br /><br />

<div ALIGN="center">

</div>

<br /><br />

<div>
     <div style="float: left;">

     </div>


     <div class="footerdemo">
          <div class="fdizquierda">
               <div class="footerdivs">
                    <img class="compras" src="{% static 'core/img/compras.gif' %}">
               </div>
          </div>
          <div class="fdderecha">
               <div class="footerdivs">
                    <ul>
                         <li>Los mejores productos del mercado.</li>
                         <li>La tecnología mas actual.</li>
                         <li>100% confiable.</li>
                         <li>A los mejores precios.</li>
                    </ul>
               </div>
          </div>
     </div>
     <div style="clear:both;"></div>


     {% endblock content %}