{% extends "core/base.html" %}

{% load static %}

{% block content %}
     En Kia Motors México queremos impulsar proyectos con enorme potencial y hacer crecer tu negocio. Ésta red de apoyo a mujeres busca a una mujer emprendedora e innovadora, que cuente con su empresa, cuyo proyecto pueda ser apoyado por KIA, con el propósito de crear sólidas relaciones comerciales a largo plazo.
     <br/><br/>
     
     <div ALIGN="center">
          <img src="{% static 'core/img/BannerAmorNaceVista.jpg' %}">
     </div>

     <br/><br/>

<div>
 <div  style="float: left;" />

 </div>

 
<div class="footerdemo">
  <div class="fdizquierda">
    <div class="footerdivs">
 <iframe width="500" height="500" src="{% static 'core/img/eco_electri.png' %}" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="fdderecha">
    <div class="footerdivs">
<p>
     Eco/ Eléctrico 
</p>
<br/>
<p>
     Otra área clave es brindarle a los usuarios opciones de eficiencia y sustentabilidad para moverse.
</p>
<p>
     Como parte de nuestro esfuerzo por siempre brindarles la mejor tecnología a los usuarios, KIA ofrece su propia tecnología en todos los autos Eco/eléctricos [HEV Hybrid Electric Vehicle), EV (Electric Vehicle), PHEV (Plug-in Hybrid Electric Vehícle, FCEV(Fuel Cell Electric Vehicle)].
</p>
<p>
     En la batería EV, en conjunto con la empresa hermana, KIA va a continuar siendo el tercer lugar en manufactura de baterías EV en el mundo.
</p>
    </div>
  </div>
</div>
<div style="clear:both;"></div>

     
{% endblock content %}